



.stnc-header-page #adminmenumain,
.stnc-header-page #wpadminbar,
.stnc-header-page #adminmenuback,
.stnc-header-page #adminmenuwrap,
.stnc-header-page #wpfooter {
    display: none;
}

#wpcontent {
    padding-left: 0 !important;
}

#wpcontent,
#wpfooter {
    margin-left: auto !important;
}

html.wp-toolbar {
    padding-top: 0 !important;
}






/* ---------------------------- helix colorized start ---------------------------*/




/* ---- isotope ---- */

.grid {
  border: 1px solid #333;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left!important;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;
  left: 5px;
  top: 80px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 5px;
  top: 35px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.helixColor1          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.helixColor2 { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.helixColor3      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.helixColor4        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.helixColor5      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.helixColor6 { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.helixColor7       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatohelixColor8 mic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.helixColor9         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.helixColor10      { background: #F08; background: hsl( 324, 100%, 50%); }



/* ---------------------------- helix colorized end ---------------------------*/























/* ---------------------------- drag drop start ---------------------------*/
.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}


/* drag objects */
.redips-drag {
    cursor: move;
    margin: auto;
    background-color: white;
    text-align: center;
    font-size: 22pt; /* needed for cloned object */
 
    line-height: 35px;
    /* round corners */
    border-radius: 4px; /* Opera, Chrome */
    -moz-border-radius: 4px; /* FF */
}


/* tables */
div#redips-drag table {
    background-color: #ddd;
    border-collapse: collapse;
    margin: 10px;
}

/* table cells */
div#redips-drag td {
    border: 1px white solid;
    height: 50px;
    text-align: center;
    font-size: 10pt;
}

/* green objects */
.green {
    border: 2px solid #499B33;
}

/* orange objects */
.orange {
    border: 2px solid #BF6A30;
}


/* drag drop end*/